section {
    background-color: transparent;
    margin: 55px;
    display: inline;
}
#titulo {
    margin-left: 5%;
    padding: 20px 0;
    font-family: "Garamond", serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    font-size: 4em;
    color: var(--cor02);
}
#container_trimestres {
    background-color: var(--cor01);
    color: white;
    box-shadow: black 1px 1px 3px;
    width: 500px;
    border-radius: 5px;
    margin-left: 4%;
    padding: 20px 0;
    margin-bottom: 15px;
    font-size: 1.5em;
}
#trimestres {
    margin: 0 10px;
    background-color: var(--cor02);
    text-align: center;
    line-height: 30px;
    display: block;
    
}
.conteudos {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease;
    color: white;
    font-size: 0.9em;
    margin-top: 5px;
}

/* Quando o mouse passa em cima da área pai */
.trimestre-hover:hover .conteudos {
    max-height: 200px; /* Altura suficiente para caber os 3 parágrafos */
}
aside > img {
    width: 400px;
    border-radius: 50%;
}
footer {
    background-color: var(--cor01);
    color: white;
    font-family: "Garamond", serif;
    line-height: 20px;
    padding: 30px;
    bottom: 0;
}
footer > h2 {
    font-family: "Garamond", serif;
    font-weight: bold;
    text-shadow: 1px 1px 2px black;
    padding-bottom: 15px;
    font-size: 1.5em;
}
footer > p > a {
    color: white;
    text-decoration: none;
}
