@media (max-width: 768px) {
    header {
        text-align: center;
        padding-bottom: 10px;
    }

    #logo {
        width: 50px;
        padding: 5px;
    }

    header > h1 {
        display: inline;
        position: relative;
        font-size: 2em;
        
    }

    #github {
        position: static;
        width: 50px;
        display: inline;
        
        margin: 10px 20px;
    }

    #titulo {
        font-size: 2em;
        text-align: center;
        margin-left: 0;
    }

    #container_anos {
        width: 90%;
        margin: 20px auto;
        font-size: 1.2em;
    }

    #anos {
        font-size: 1em;
    }

    aside {
        display: none;
    }
}
@media screen and (max-width: 1024px) {
    #container_anos {
        width: 80%;
        font-size: 1.3em;
        margin-left: 10%;
    }

    #titulo {
        font-size: 3em;
        margin-left: 10%;
    }

    aside {
        position: static;
        display: block;
        margin: 0 auto;
        text-align: center;
        max-width: 100%;
    }

    aside > img {
        width: 70%;
        max-width: 300px;
    }

    #github {
        width: 50px;
        top: 20px;
        right: 5px;
    }

    header > h1 {
        font-size: 2em;
        bottom: 35px;
        left: 5px;
    }

    #logo {
        width: 50px;
        padding: 5px;
    }

    section {
        margin: 30px;
        display: block;
    }
}
@media screen and (min-width: 1440px) {
    #titulo {
        font-size: 5em;
    }

    header > h1 {
        font-size: 4em;
        bottom: 50px;
        left: 20px;
    }

    #logo {
        width: 80px;
    }

    #github {
        width: 90px;
        top: 30px;
        right: 20px;
    }

    #container_anos {
        width: 600px;
        font-size: 1.8em;
    }

    #anos {
        line-height: 40px;
        font-size: 1.3em;
    }

    aside > img {
        width: 500px;
    }

    footer {
        font-size: 1.2em;
        padding: 40px;
    }

    footer > h2 {
        font-size: 2em;
    }
}