#triangulo-container {
  background-color: var(--cor02);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6);
  max-width: 1000px;
  margin: 30px auto;
  color: white;
  text-align: center;
}

#triangulo-container h2 {
  font-size: 2.5rem;
  text-shadow: 1px 1px 3px black;
}

#triangulo-container input,
#triangulo-container select {
  padding: 10px;
  font-size: 1rem;
  margin: 5px 0;
  border-radius: 5px;
  border: none;
  background-color: #1e1e2f;
  color: white;
  border: 1px solid #444;
  width: 200px;
}

#triangulo-container button {
  padding: 10px 20px;
  font-size: 1rem;
  background-color: #3E92CC;
  border: none;
  border-radius: 6px;
  color: white;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  transition: 0.3s;
}

#triangulo-container button:hover {
  background-color: #295b82;
}

#resultado-trigonometria {
  background-color: #111;
  border-left: 5px solid #3E92CC;
  padding: 20px;
  font-size: 1.3rem;
  font-family: 'Courier New', monospace;
  border-radius: 8px;
  color: #0f0;
  margin-top: 20px;
  white-space: pre-wrap;
  text-align: left;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
}
