@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,300..700;1,300..700&display=swap');
:root {
    --cor01: #13293D;
    --cor02: #16324F;
}
html {
    scrollbar-color: var(--cor02) var(--cor01);
    scrollbar-width: thin;
}
body {
    background-image: url("https://static.vecteezy.com/system/resources/thumbnails/004/827/521/large/technology-network-background-free-video.jpg");
    margin: 0;
}
header {
    background-color: var(--cor02);
}
#logo {
    padding: 10px;
    width: 60px;
}
header > h1 {
    font-family: "Garamond", serif;
    font-weight: lighter;
    font-size: 3em;
    color: white;
    padding: 5px;
    display: inline;
    position: relative;
    bottom: 43px;
    left: 10px

}
#github {
    width: 70px;
    position: absolute;
    right: 10px;
    top: 23px;
}
section {
    background-color: transparent;
    margin: 55px;
    display: inline;
}
#titulo {
    margin-left: 5%;
    padding: 20px 0;
    font-family: "Garamond", serif;
    font-weight: bold;
    font-size: 4em;
    color: var(--cor02);
}
#container_anos {
    background-color: var(--cor01);
    color: white;
    width: 500px;
    border-radius: 5px;
    margin-left: 4%;
    padding: 20px 0;
    margin-bottom: 15px;
    font-size: 1.5em;
}
#anos {
    margin: 0 10px;
    background-color: var(--cor02);
    text-align: center;
    line-height: 30px;
    display: block;
}
a {
    text-decoration: none;
    color: white;
}
a:hover {
    text-decoration: underline;
}
hr {
    color: #3E92CC;
}
aside {
    display: inline;
    max-width: 400px;
    position: absolute;
    top: 22%;
    right: 10%;

}
aside > img {
    width: 400px;
    border-radius: 50%;
}
footer {
    background-color: var(--cor01);
    color: white;
    font-family: "Garamond", serif;
    line-height: 20px;
    padding: 30px;
    bottom: 0;
}
footer > h2 {
    font-family: "Garamond", serif;
    font-weight: bold;
    padding-bottom: 5px;
    font-size: 1.5em;
}
